<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Cadastro de funcionário</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="icon" href="brasao2-mini.png">
</head>

<body>
	<div id='app'>
		<main-header></main-header>
		<div class="section no-pad-bot" id="index-banner">

			<div class='container'>
				<div class="card blue">
					<div v-show = "actualPage === 1" class="card-content white-text">
						<p>Preencha o formulário para fazer uma solicitação de cadastro de funcionário no SGI - Sistema de Gestão da Informação.</p>
					</div>
				</div>
				<div class='row'>
					<form class='col s12' @submit.prevent = "actualPage++">
						<transition :name="transitionName">
							<div class="card-panel" v-show = "actualPage === 1">
								<h5 class="header center">Dados pessoais</h5>
								<div class="row">
									<div class="input-field col s12">
										<input id="first_name" type="text" v-model="funcionario.nome" class="validate">
										<label>Nome completo</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<select v-model="funcionario.sexo">
											<option value="" disabled selected>Sexo</option>
											<option>MASCULINO</option>
											<option>FEMININO</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input type="text" class="datepicker">
										<label>Data de nascimento</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input v-model = "funcionario.cpf" type="text" class="validate">
										<label>CPF</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<select>
											<option value="" disabled selected>Estado civil</option>
											<option>CASADO</option>
											<option>DIVORCIADO</option>
											<option>SOLTEIRO</option>
											<option>VIÚVO</option>
										</select>
									</div>
								</div>
							</div>
						</transition>
						<transition :name="transitionName">
							<div class="card-panel" v-show = "actualPage === 2">
								<h5 class="header center">Endereço</h5>
								<div class="row">
									<div class="input-field col s12 m6">
										<input id="first_name" type="text" class="validate">
										<label for="first_name">CEP</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input type="text" id='logradouro' class="validate">
										<label for="logradouro">Logradouro</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input id="numero" type="number" class="validate">
										<label for="numero">Número</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input id="bairro" type="text" class="validate">
										<label for="bairro">Bairro</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input id="cidade" type="text" class="validate">
										<label for="cidade">Cidade</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input id="complemento" type="text" class="validate">
										<label for="complemento">Complemento</label>
									</div>
								</div>
							</div>
						</transition>
						<transition :name="transitionName">
							<div class='card-panel' v-show = "actualPage === 3">
								<h5 class="header center">Contato</h5>
								<div class="row">
									<div class="input-field col s12">
										<input id="celular" type="text" class="validate">
										<label for="celular">Número do celular</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input type="email" id='email' class="validate">
										<label for="email">E-mail pessoal</label>
									</div>
								</div>
							</div>
						</transition>
						<transition :name = "transitionName">
							<div class='card-panel' v-show = "actualPage === 4">
								<h5 class="header center">Formação</h5>
								<div class="row">
									<div class="input-field col s12">
										<select>
											<option value="">Grau de instrução</option>
											<option value="ANALFABETO">ANALFABETO</option> 
											<option value="SEMIANALFABETO">SEMI-ANALFABETO</option>
											<option value="FUNDAMENTAL INCOMPLETO">FUNDAMENTAL INCOMPLETO</option> 
											<option value="FUNDAMENTAL">FUNDAMENTAL</option>
											<option value="MEDIO INCOMPLETO">MÉDIO INCOMPLETO</option> 
											<option value="MEDIO">MÉDIO</option> 
											<option value="SUPERIOR INCOMPLETO">SUPERIOR INCOMPLETO</option>
											<option value="SUPERIOR">GRADUAÇÃO</option>
											<option value="ESPECIALIZACAO">ESPECIALIZAÇÃO</option>
											<option value="MESTRADO">MESTRADO</option>
											<option value="DOUTORADO">DOUTORADO</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input type="text" id='formacao' class="validate">
										<label for="formacao">Formação</label>
									</div>
								</div>
							</div>
						</transition>
						<transition :name = "transitionName">
							<div class='card-panel' v-show = "actualPage === 5">
								<h5 class="header center">Identidade</h5>
								<div class="row">
									<div class="input-field col s12">
										<input type="text" id='numeroIdentidade' class="validate">
										<label for="numeroIdentidade">Número</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input type="text" id='orgaoEmissor' class="validate">
										<label for="orgaoEmissor">Órgão emissor</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<select>
											<option value="">Unidade federativa</option>
											<option value="AC">AC</option>
											<option value="AL">AL</option>
											<option value="AM">AM</option>
											<option value="AP">AP</option>
											<option value="BA">BA</option>
											<option value="CE">CE</option>
											<option value="DF">DF</option>
											<option value="ES">ES</option>
											<option value="GO">GO</option>
											<option value="MA">MA</option>
											<option value="MG">MG</option>
											<option value="MS">MS</option>
											<option value="MT">MT</option>
											<option value="PA">PA</option>
											<option value="PB">PB</option>
											<option value="PE">PE</option>
											<option value="PI">PI</option>
											<option value="PR">PR</option>
											<option value="RJ">RJ</option>
											<option value="RN">RN</option>
											<option value="RO">RO</option>
											<option value="RR">RR</option>
											<option value="RS">RS</option>
											<option value="SC">SC</option>
											<option value="SE">SE</option>
											<option value="SP">SP</option>
											<option value="TO">TO</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input type="date" id='dataEmissaoRg' class="datepicker">
										<label for="dataEmissaoRg">Data de emissão</label>
									</div>
								</div>
							</div>
						</transition>
						<transition :name = "transitionName">
							<div class='card-panel' v-show = "actualPage === 6">
								<h5 class="header center">Dados funcionais</h5>
								<div class="row">
									<div class="input-field col s12">
										<select><option value="">Lotação</option></select>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input type="text" id='matricula' class="validate">
										<label for="matricula">Matrícula</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<select>
											<option value="">Natureza do vínculo funcional</option>
											<option value="EFETIVO">EFETIVO</option>
											<option value="CONTRATO">CONTRATO</option>
											<option value="CONTRATO TEMPORARIO">CONTRATO TEMPORARIO</option>
											<option value="COMISSIONADO">COMISSIONADO</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<select>
											<option value="">Cargo</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input type="text" id='cargaHoraria' class="validate">
										<label for="cargaHoraria">Carga horária</label>
									</div>
								</div>
							</div>
						</transition>
						<transition :name = "transitionName">
							<div class='card-panel' v-show = "actualPage === 7">
								<h5 class="header center">Finalizar cadastro</h5>
								<div v-for = "(value, key) in funcionarioDisplay">
									<div class='row '>
										<div class='col s4'>
											<b>{{ key }}</b>
										</div>
										<div calss='col s8'>
											{{ value }}
										</div>
									</div>
								</div>
							</div>
						</transition>
						<div class='right-button fixed' v-show="actualPage < 7">
							<button type='submit' class='btn-large tooltipped btn-floating blue' data-position="top" data-delay="50" data-tooltip="Próximo">
								<i class="material-icons">arrow_forward</i>
							</button>
						</div>
						
						<div class='left-button fixed' v-show = "actualPage > 1">
							<button @click="actualPage--" type='button' class='btn-large tooltipped btn-floating blue' data-position="top" data-delay="50" data-tooltip="Anterior">
								<i class="material-icons">arrow_back</i>
							</button>
						</div>

						<div class='right-button fixed' v-show = "actualPage === 7">
							<button type='submit' class='btn-large tooltipped btn-floating green' data-position="top" data-delay="50" data-tooltip="Finalizar">
								<i class="material-icons">check</i>
							</button>
						</div>
					</form>	
				</div>
			</div>
		</div>
		<footer class="page-footer white">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="black-text">Sistema de Gestão da Informação</h5>
						<p class="black-text ">O SGI é um sistema desenvolvido pela prefeitura municipal de Parnamirim para controle interno dos funcionários. Realizando seu cadastro, você poderá ter acesso a outros sistemas da prefeitura, como o Sisatendimento, Ponto eletrônico, Protocolo, Almoxarifado, etc.</p>
					</div>
					<div class="col l4 offset-l2 s12">
						<h5 class="">Links</h5>
						<ul>
							<li><a class="black-text text-lighten-3" href="#!">Link 1</a></li>
							<li><a class="black-text text-lighten-3" href="#!">Link 2</a></li>
							<li><a class="black-text text-lighten-3" href="#!">Link 3</a></li>
							<li><a class="black-text text-lighten-3" href="#!">Link 4</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container black-text">
					© 2018 Grupo de Ciência e Tecnologia da Informação - GCTI
					<a class="black-text text-lighten-4 right" target="_blank" href="http://parnamirim.rn.gov.br">Portal da Prefeitura</a>
				</div>
			</div>
		</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script type="text/javascript" src='form.js'></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

<script type="text/javascript">
	$(document).ready(function() {
		$('select').material_select();
	});

	$('.datepicker').pickadate({
		selectMonths: true,
		today: 'Hoje',
		clear: 'Limpar',
		close: 'Ok',
		selectYears: 80,
		closeOnSelect: true,
		min: [new Date().getFullYear() - 80, 1, 1],
		max: new Date(),
		format: 'dd/mm/yyyy'
	});

	$(document).ready(function(){
	   $('.tooltipped').tooltip({delay: 50});
	});

</script>
</html>